<h1 class="text-center"><%= @restaurant.name %></h1>
<h2 class="text-center"><%= "Category: #{@restaurant.category}" %></h2>
<h2 class="text-center"><%= "Phone: #{@restaurant.phone_number}" %></h2>
<h2 class="text-center"><%= "Address: #{@restaurant.address}" %></h2>
<h2>Leave a review</h2>
<%= render "review_form", restaurant: @restaurant, review: @review %>

<h2>Reviews:</h2>
<ul class="list-group">
<% @restaurant.reviews.each do |review| %>
<li class="list-group-item">
<p><%= "Score: #{review.rating}" %></p>
<p><%= review.content %></p>

</li>
<% end %>
</ul>
